.mice{
    width: 50%;
    height: 45px;
    background-color: darkgray;
    margin: auto;
    margin-bottom: 05px;
    color: black;
    padding-top: 10px;
    padding-left: 30px;
}
.cable{
    height: 30px;
    background-color: gray;
    font-size: x-large;
    margin-top: 15px;
}
.key{
    height: 30px;
    background-color: gray;
    font-size: x-large;
}
.board{
    height: 30px;
    background-color: gray;
    font-size: x-large;
}
.paper{
    width: 45.8%;
    height: 49px;
    background-color: deepskyblue;
    margin: auto;
    margin-bottom: 05px;
    padding-left: 65px;
}
.mimi{
    width: 50%;
    height: 400px;
    background-color: brown;
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.monitor{
    width: 50%;
    height: 150px;
    background-color: azure;
    margin: 252px;
    margin-top: 30px;
}
textarea{
    width: 40%;
    height: 150px;
}
.mouse{
    width: 27.5%;
    height: 50px ;
    background-color: darkkhaki;
    margin: auto;
    margin-top: 10.5px;
    font-size: x-large;
    padding-left: 350px;


}